<ion-tabs class='tab-main'>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class='TabLista' tab="listaOficinas">
      <ion-icon name="car"></ion-icon>
      <ion-label>Oficinas</ion-label>
    </ion-tab-button>

    <ion-tab-button class='TabMap' tab="mapaOficinas">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button class='TabSearch' tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Procurar</ion-label>
    </ion-tab-button>

    <ion-tab-button class="TabPerfil"  tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>