<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Oficinas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content>
    <ion-list>
    <ion-card  id="card" *ngFor="let oficina of OficinasData">
      <ion-card-header>
           <img src="../../assets/imgs//default.png">
        <ion-card-title>
          <ion-text color="success">
            <h4>{{oficina.nome}}</h4>
          </ion-text>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{oficina.estado}}, {{oficina.cidade}} - {{oficina.bairro}}<br />
        {{oficina.rua}} Nº {{oficina.numero}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  </ion-content>

</ion-content>