.avatar{ 
    margin-top:50px;

}

.red-bg{
    background-color: #2dd36f; 
    height: 100%;
}

.white-overlay{
    border:1px solid lightgrey;
     background-color:white;
    border-radius: 10px;
    height: 60%;
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;}